<h1>Reported Lost Items (admin only)</h1>

<% if !@lost_items.blank? %>
<table class="item-table">
	<thead>
		<tr>
			<td>Item</td>
			<td>Phone Number</td>
		</tr>
	</thead>
	<tbody>
	<% @lost_items.each do |l| %>
		<tr>
			<td>
				<%= l.product %>
			</td>
			<td>
				<%= l.phone_number %>
			</td>
			<td>
				<%= link_to "Delete", lost_items_destroy_url(:id => l), data: { confirm: "Are you sure?" } %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
<% end %>