div#navigation {
	width: 100%;
	background-color: #004559;
	position: absolute;
	top: 0;
	height: 57px;
	left: 0;
	.nav-item {
		padding: 20px;
		margin: 0;
		display: inline-block;
		
		font-weight: 300;
		font-size: 13px;
		text-shadow: 1px 1px #444;
		color: #ccc;
		a {
			color: #ccc;
			text-decoration: none;
		}
	}
	.nav-title a {
		color: #fff;
		font-size: 16px;
	}
	.nav-title {
		padding: 18px;
	}
	.nav-item:hover {
		background-color: #323232;
		/*cursor: pointer;*/
	}
	#sign-in {
		margin-top: -4px;
	}
	#sign-in:hover {
		background-color: transparent;
		cursor: hand;
	}
	.pull-left {
		float: left;
	}
	.pull-right {
		float: right;
	}
}

body { 
	background-color: #e7fcff;
	font-family: 'Cabin', sans-serif;
}

div#container {
	border-radius: 15px;
	background-color: white;
	padding: 5px 15px 20px 25px;
	margin: 80px auto;
	width: 95%;
	table.form {
		td {
			padding: 8px 20px;
		}
		label {
			font-weight: bold;
		}
		input[type=text] {
			width: 500px;
		}
		input[type=radio] {
			margin-left: 20px;
		}
	}
	table.donate-table {
		width: 100%;
		margin-top: 20px;
		td {
			padding: 8px;
			border-top: 1px solid #888;
			border-bottom: 1px solid #888;
		}
		input[type=text] {
			width: 50px;
		}
		button {
			padding: 8px;
		}
	}
	table.item-table {
		width: 100%;
		thead {
			font-weight: bold;
			text-transform: uppercase;
			td {
				border: 0;
			}
		}
		td {
			border-top: 1px solid #888;
			border-bottom: 1px solid #888;
			padding: 8px;
			
		}
	}
	input {
		font-size: 14px;
		padding: 5px 10px;
	}
}